body {
  background: #EAEAEA;
}

.strong {
  font-weight: 700;
}

input[type="checkbox"] {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: none;
  border: none;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  outline: none;
}

input[type="checkbox"]:checked {
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}

.todolist-items {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.todolist-items li {
  border: 1px solid #000000;
  position: relative;
  font-size: 24px;
  background: #FDFDFD;
}

.todolist-items #new-todo {
  border: none;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  border-left: 1px solid #FF0000;
  background: #FDFDFD;
}

.todolist-items #new-todo:focus {
  outline: none;
}

.todolist-items > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 15px solid #908079;
}

.todolist-items label {
  padding: 15px 60px 15px 15px;
  margin: 0 0 0 45px;
  border-left: 1px solid #FF0000;
}

.toggle {
  height: 40px;
  width: 40px;
}

.toggle::after {
  content: "✔";
  line-height: 43px;
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

.toggle:checked::after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

.toggle-all::before {
  content: "»";
  font-size: 50px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}

.toggle-all {
  height: 41px;
  width: 65px;
  text-align: center;
  -webkit-transform: rotate(90deg);
}

.destroy {
  display: none;
  background: transparent;
  outline: none;
  border: none;
  color: #a88a8a;
  height: 40px;
  width: 40px;
  font-size: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
}

.destroy::after {
  content: "x";
}

.todolist-items li:hover .destroy {
  display: block;
}

.todolist-counter {
  float: left;
}

footer {
  background: #EDEDED;
  text-align: center;
  padding: 0 15px;
}
