body {
  background: #EAEAEA;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1.5em;
}

section {
}

header {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
  background: #EDEDED;
}

label {
  word-wrap: break-word;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

h1 {
  font-size: 6em;
  font-weight: 200;
  margin: 0.2em 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  font-size: 2em;
  border: 1px solid #000000;
  background: #FDFDFD;
}

.center {
  margin: 0 5%;
}

.strong {
  font-weight: 700;
}

.left {
  float: left;
}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

input[type="checkbox"] {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: none;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="checkbox"] {
  outline: none;
}

input[type="checkbox"]:checked {
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="text"] {
  width: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 15px;
  margin-left: 45px;
  border-left: 1px solid #FF0000;
  background: #FDFDFD;
}

input[type="text"]:focus {
  outline: none;
}

.todolist-items {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.todolist-items > ul {
  border-top: 15px solid #908079;
}

.todolist-items label {
  padding: 15px 60px 15px 15px;
  margin: 0 0 0 45px;
  border-left: 1px solid #FF0000;
  display: block;
}

.todo-done label {
  color: #aaa;
  text-decoration: line-through;
}

.todo-editing label {
  display: none;
}

.todo-edit-box {
  display: none;
}

.todo-edit-box {
  padding: 10px;
}

.todo-editing .todo-edit-box {
  display: block;
  margin-left: 45px;
  width: 300px;
}

.todo-editing .destroy {
  display: none !important;
}

.toggle {
  height: 40px;
  width: 40px;
}

.toggle::after {
  content: "✔";
  line-height: 0.8em;
  font-size: 0.8em;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

.toggle:checked::after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  position: relative;
}

.toggle-all::before {
  content: "»";
  font-size: 2em;
  color: #d9d9d9;
}

.toggle-all {
  height: 60px;
  width: 65px;
  text-align: center;
  -webkit-transform: rotate(90deg);
}

.destroy {
  display: none;
  color: #a88a8a;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
}

.destroy::after {
  content: "x";
}

.todolist-items li:hover .destroy {
  display: block;
}

.todolist-counter {
  float: left;
}